<div class="main-container">
  <div class="navbar" id="navbar">
    <button *ngIf="minimizeSidenav" class="menu" (click)="toggleSidenavHandler()">
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="this.router.navigateByUrl('/')" class="logo">
      <chat-icon class="icon"></chat-icon>
    </button>
    <span class="title">Chatroom</span>
    <span class="spacer"></span>
    <!-- Displayed when the width of the screen is less than 400px -->

    <div *ngIf="dropdownNavbar" class="dropdown-nav">
      <button mat-icon-button (click)="toggleNavbarHandler()">
        <mat-icon id="dropdown-button" class="dropdown-button"> arrow_drop_down </mat-icon>
      </button>
      <div class="dropdown-links" id="dropdown-links">
        <button mat-icon-button class="brightness" (click)="toggleTheme()" matTooltip="Toggle dark theme">
          <mat-icon>
            brightness_6
          </mat-icon>
        </button>
        <button>Profile</button>
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>

    <!-- Displayed when the width of the screen is more than 400px -->
    <div *ngIf="!dropdownNavbar" class="nav-list" id="nav-list">
      <button mat-icon-button class="brightness" (click)="toggleTheme()" matTooltip="Toggle dark theme">
        <mat-icon>
          brightness_6
        </mat-icon>
      </button>
      <button>Profile</button>
      <button (click)="onLogout()">Logout</button>
    </div>
  </div>
  <div class="flexbox">
    <div id="sidenav" class="sidenav" [class.transition]="minimizeSidenav">
      <ul id="sidenav-list" class="sidenav-list">
        <li><a href="admin-dashboard/{{username}}/create-chatroom">Create Chatroom</a></li>
        <li><a href="admin-dashboard/{{username}}/chatrooms">Chatrooms</a></li>
        <li><a href="admin-dashboard/{{username}}/chat-stats">Chat Statistics</a></li>
      </ul>
    </div>
    <div [class.blur]="toggleSidenav" class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
