@import "../../../styles.scss";

section {
  display: flex;
  flex-direction: column;

  background-color: var(--background);
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.first-container {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  margin-left: 2%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  text-align: center;



  img {
    align-self: center;
    height: auto;
    width: 400px;

  }

  .title {
    flex: 1;
    font-family: cursive;
    font-size: 30px;
    color: var(--primary-text);
  }
}


.display-small {
  position: relative;
  min-width: 300px;

  img {
    height: auto;
    max-width: 100%;
  }
}

.center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.right {
  margin-right: 2%;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.content {
  background-color: var(--list-item-odd);
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text);
}
