<homepage-navbar>
  <section>
    <div class="first-container">
      <div [ngClass]="(this.activatedRoute.routeConfig?.path !== '')?'main-content display-small':'main-content'">
        <span class="title">Chat with those who visit your webpage! </span>
        <img src="../../../assets/images/chat.png" class="chat-img" alt="Illustration">
      </div>
      <homepage-login class="center" *ngIf="this.activatedRoute.routeConfig?.path === 'login'"></homepage-login>
      <homepage-signup class="center" *ngIf="this.activatedRoute.routeConfig?.path === 'signup'"></homepage-signup>

      <div *ngIf="this.activatedRoute.routeConfig?.path !== ''" class="right">
        <chat-icon></chat-icon>
      </div>
    </div>
    <!-- <div class="content">
      <ul class="features-list">
        <li>Improves customer experience</li>
        <li>Build rapport with customers</li>
        <li>Boosts your customer service team’s productivity</li>
        <li>Increase customer satisfaction</li>
        <li>Personalize your brand</li>
        <li>Reduce service costs and boost efficiency</li>
      </ul>
    </div> -->
  </section>
</homepage-navbar>
