<form #createChatroomForm="ngForm" (ngSubmit)="createChatroomForm.valid && onSubmit(createChatroomForm)">
  <div class="chatroom-name content">
    <div class="title"> Create new chatroom:</div>
    <div class="box-input">
      <input placeholder=" " type="text" id="box-input-name" name="chatroomName" #chatroomName="ngModel"
        [(ngModel)]="chatroomService.chatroom.chatroomName">
      <label for="box-input-name">Chatroom Name</label>
    </div>

  </div>

  <div class="messages content">
    <div class="title"> Message to be sent </div>
    <table class="message-table">
      <tr>
        <td>When customer connects</td>
        <td>:</td>
        <td>
          <div class="box-input">
            <input placeholder=" " id="firstMessage" name="firstMessage" #firstMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.firstMessage">
          </div>
        </td>
      </tr>
      <tr>
        <td>When agent is online: </td>
        <td>:</td>
        <td>
          <div class="box-input">
            <input placeholder=" " name="onlineMessage" id="onlineMessage" #onlineMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.onlineMessage">
          </div>
        </td>
      </tr>
      <tr>
        <td>When agent is offline: </td>
        <td>:</td>
        <td>
          <div class="box-input">
            <input placeholder=" " id="offlineMessage" name="offlineMessage" #offlineMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.offlineMessage">
          </div>
        </td>
      </tr>
      <tr>
        <td>When agent is idle: </td>
        <td>:</td>
        <td>
          <div class="box-input"><input placeholder=" " id="idleMessage" name="idleMessage" #idleMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.idleMessage">
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="entity content">
    <h3 class="title"> User Info </h3>
    <table>
      <tr>
        <td>
          <div class="box-input">
            <input placeholder=" " id="box-input-entity" #entity>
            <label for="box-input-entity">Add Entity Key </label>
          </div>
        <td><button type="button" (click)="createEntity()" class="add-entity-button">
            <mat-icon> add_circle</mat-icon>
          </button>
      </tr>
    </table>
    <ul class="entity-key" *ngFor="let entity of entityList">
      <li>{{entity}}
        <button type="button" (click)="removeEntity(entity)" class="delete-entity">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="theme content">
    <h3 class="title">ChatBox Theme</h3>
    <select (change)="selectTheme($event)" class="theme-selector">
      <option value="default">Default</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="red">Red</option>
      <option value="yellow">Yellow</option>
      <option value="custom">Custom</option>
    </select>

    <div *ngIf="theme==='custom'" class="custom-theme">
      <table>
        <tr class="adjust">
          <td> TitleBar</td>
          <td><input class="color-input" type="color" name="titlebarColor" #titlebarColor="ngModel"
              [(ngModel)]="chatroomService.theme.titlebarColor"></td>
        </tr>
        <tr>
          <td> CustomerMessageBackgroundColor</td>
          <td><input class="color-input" type="color" name="customerMessageBackgroundColor"
              #customerMessageBackgroundColor="ngModel"
              [(ngModel)]="chatroomService.theme.customerMessageBackgroundColor"></td>
        </tr>
        <tr>
          <td> AgentMessageBackgroundColor</td>
          <td><input class="color-input" type="color" name="agentMessageBackgroundColor"
              #agentMessageBackgroundColor="ngModel" [(ngModel)]="chatroomService.theme.agentMessageBackgroundColor">
          </td>
        </tr>
        <tr>
          <td> CustomerMessageTextColor</td>
          <td><input class="color-input" type="color" name="customerMessageTextcolor"
              #customerMessageTextcolor="ngModel" [(ngModel)]="chatroomService.theme.customerMessageTextcolor"></td>
        </tr>
        <tr>
          <td> AgentMessageTextColor</td>
          <td><input class="color-input" type="color" name="agentMessageTextColor" #agentMessageTextColor="ngModel"
              [(ngModel)]="chatroomService.theme.agentMessageTextColor"></td>
        </tr>
        <tr>
          <td> CustomerMessageFont</td>
          <td><select class="font-selector" name="customerMessageFont" #customerMessageFont="ngModel"
              [(ngModel)]="chatroomService.theme.customerMessageFont">
              <option value="Georgia, serif">Georgia</option>
              <option value="cursive">cursive</option>
              <option value="sans-serif">sans-serif</option>
              <option value="monospace">monospace</option>
              <option value='"Times New Roman", Times, serif'>Times new Roman</option>
              <option value="Arial, Helvetica, sans-serif">Arial</option>
            </select></td>
        </tr>
        <tr>
          <td> AgentMessageFont</td>
          <td><select class="font-selector" name="agentMessageFont" #agentMessageFont="ngModel"
              [(ngModel)]="chatroomService.theme.agentMessageFont">
              <option value="Georgia, serif">Georgia</option>
              <option value="cursive">Cursive</option>
              <option value="sans-serif">sans-serif</option>
              <option value="monospace">Monospace</option>
              <option value='"Times New Roman", Times, serif'>Times new Roman</option>
              <option value="Arial, Helvetica, sans-serif">Arial</option>
            </select></td>
        </tr>
        <tr>
          <td> WidgetColor</td>
          <td><input class="color-input" type="color" name="widgetColor" #widgetColor="ngModel"
              [(ngModel)]="chatroomService.theme.widgetColor"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="btn-container">
    <input class="create-btn" type="submit" value="Create">
  </div>


  <chat-widget></chat-widget>
</form>
