<form #createChatroomForm="ngForm" (ngSubmit)="createChatroomForm.valid && onSubmit(createChatroomForm)">
  <div class="name">
    <span class="title"> Create new chatroom:</span>
    <div class="box-input-3 float-right">
      <input type=" text" id="box-input-3" name="chatroomName" #chatroomName="ngModel"
        [(ngModel)]="chatroomService.chatroom.chatroomName">
      <label for="box-input-3">Chatroom Name</label>
    </div>

  </div>

  <div class=" settings">
    <hr>
    <h3> Message to be sent </h3>
    <table class="message-settings">
      <tr>
        <td>When customer connects</td>
        <td>:</td>
        <td>
          <div class="box-input-3"><input name="firstMessage" #firstMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.firstMessage"></div>
        </td>
      </tr>
      <tr>
        <td>When agent is online: </td>
        <td>:</td>
        <td>
          <div class="box-input-3"><input name="onlineMessage" #onlineMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.onlineMessage"></div>
        </td>
      </tr>
      <tr>
        <td>When agent is offline: </td>
        <td>:</td>
        <td>
          <div class="box-input-3"><input name="offlineMessage" #offlineMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.offlineMessage"></div>
        </td>
      </tr>
      <tr>
        <td>When agent is idle: </td>
        <td>:</td>
        <td>
          <div class="box-input-3"><input name="idleMessage" #idleMessage="ngModel"
              [(ngModel)]="chatroomService.chatroom.idleMessage"></div>
        </td>
      </tr>
    </table>
    <hr>
  </div>
  <div class="entity">
    <h3> User Info: </h3>
    <div class="box-input-3"><input #entity></div>
    <button type="button" (click)="createEntity()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div *ngFor="let entity of entityList">{{entity}} <button type="button" (click)="removeEntity(entity)">X</button>
    </div>
  </div>
  <div class="theme">
    <hr>
    <h3>Theme:</h3>
    <select (change)="selectTheme($event)" class="theme-selector">
      <option value="default">Default</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="red">Red</option>
      <option value="yellow">Yellow</option>
      <option value="custom">Custom</option>
    </select>
    <div *ngIf="theme==='custom'" class="custom-theme">
      <table>
        <tr>
          <td> TitleBar</td>
          <td><input type="color" name="titlebarColor" #titlebarColor="ngModel"
              [(ngModel)]="chatroomService.theme.titlebarColor"></td>
        </tr>
        <tr>
          <td> CustomerMessageBackgroundColor</td>
          <td><input type="color" name="customerMessageBackgroundColor" #customerMessageBackgroundColor="ngModel"
              [(ngModel)]="chatroomService.theme.customerMessageBackgroundColor"></td>
        </tr>
        <tr>
          <td> AgentMessageBackgroundColor</td>
          <td><input type="color" name="agentMessageBackgroundColor" #agentMessageBackgroundColor="ngModel"
              [(ngModel)]="chatroomService.theme.agentMessageBackgroundColor"></td>
        </tr>
        <tr>
          <td> CustomerMessageTextColor</td>
          <td><input type="color" name="customerMessageTextcolor" #customerMessageTextcolor="ngModel"
              [(ngModel)]="chatroomService.theme.customerMessageTextcolor"></td>
        </tr>
        <tr>
          <td> AgentMessageTextColor</td>
          <td><input type="color" name="agentMessageTextColor" #agentMessageTextColor="ngModel"
              [(ngModel)]="chatroomService.theme.agentMessageTextColor"></td>
        </tr>
        <tr>
          <td> CustomerMessageFont</td>
          <td><select class="font-selector" name="customerMessageFont" #customerMessageFont="ngModel"
              [(ngModel)]="chatroomService.theme.customerMessageFont">
              <option value="Georgia, serif">Georgia</option>
              <option value="cursive">cursive</option>
              <option value="sans-serif">sans-serif</option>
              <option value="monospace">monospace</option>
              <option value='"Times New Roman", Times, serif'>Times new Roman</option>
              <option value="Arial, Helvetica, sans-serif">Arial</option>
            </select></td>
        </tr>
        <tr>
          <td> AgentMessageFont</td>
          <td><select class="font-selector" name="agentMessageFont" #agentMessageFont="ngModel"
              [(ngModel)]="chatroomService.theme.agentMessageFont">
              <option value="Georgia, serif">Georgia</option>
              <option value="cursive">Cursive</option>
              <option value="sans-serif">sans-serif</option>
              <option value="monospace">Monospace</option>
              <option value='"Times New Roman", Times, serif'>Times new Roman</option>
              <option value="Arial, Helvetica, sans-serif">Arial</option>
            </select></td>
        </tr>
        <tr>
          <td> WidgetColor</td>
          <td><input type="color" name="widgetColor" #widgetColor="ngModel"
              [(ngModel)]="chatroomService.theme.widgetColor"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="submit">
    <input type="submit">
  </div>
</form>
<chat-widget></chat-widget>
